demo/jquery.area_mapper.min.js
demo/externs/jquery.imgareaselect-0.9.10/scripts/jquery.imgareaselect.js
demo/externs/jquery.imgareaselect-0.9.10/scripts/jquery.imgareaselect.min.js
demo/externs/jquery.imgareaselect-0.9.10/scripts/jquery.min.js
demo/tests/tests.min.js
demo/database.json
demo/externs/jquery-1.4.4.min.min.js
demo/externs/jquery.imgareaselect/scripts/jquery.min.min.js
demo/externs/jquery.imgareaselect/scripts/jquery.imgareaselect.pack.min.js
demo/log.json
demo/js/module.min.js