demo/jquery.area_mapper.min.js
demo/externs/jquery.imgareaselect-0.9.10/scripts/jquery.imgareaselect.js
demo/externs/jquery.imgareaselect-0.9.10/scripts/jquery.imgareaselect.min.js
demo/externs/jquery.imgareaselect-0.9.10/scripts/jquery.min.js
demo/tests/tests.min.js