/* apply a natural box layout model to all elements */
/* line 11, ../sass/theme.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../sass/theme.scss */
html {
  padding: 10px;
}

/* line 21, ../sass/theme.scss */
.am-container {
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

/* line 28, ../sass/theme.scss */
div.am-help {
  color: #666;
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  width: 320px;
}

/* line 38, ../sass/theme.scss */
#node-edit-column {
  float: left;
  width: 320px;
}

/* line 45, ../sass/theme.scss */
#area-mapper-edit-form-wrapper {
  float: none;
  margin-bottom: 20px;
  width: 100%;
}
/* line 51, ../sass/theme.scss */
#area-mapper-edit-form-wrapper .form-item {
  margin-bottom: 20px;
  width: 100%;
}
/* line 57, ../sass/theme.scss */
#area-mapper-edit-form-wrapper label {
  display: block;
  font-weight: 700;
}
/* line 63, ../sass/theme.scss */
#area-mapper-edit-form-wrapper input {
  border: 1px solid #ccc;
  display: block;
  padding: 5px;
  width: 320px;
}
/* line 71, ../sass/theme.scss */
#area-mapper-edit-form-wrapper .description {
  color: #666;
  font-size: 13px;
  margin: 5px 0;
}

/* line 80, ../sass/theme.scss */
button {
  background: #ededed;
  border: 1px solid #E4E4E4;
  border-bottom: 1px solid #B4B4B4;
  border-left-color: #D2D2D2;
  border-right-color: #D2D2D2;
  color: #5A5A5A;
  cursor: pointer;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 1.077em;
  font-weight: normal;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 4px 17px;
  text-align: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

/* line 99, ../sass/theme.scss */
.messages {
  font-weight: bold;
  font-size: 18px;
  margin: 15px 0;
}

/* line 104, ../sass/theme.scss */
.messages.status {
  color: green;
}

/* line 107, ../sass/theme.scss */
.messages.error {
  color: red;
}

/* line 110, ../sass/theme.scss */
.messages.warning {
  color: #c9bb0c;
}
