$border_width: 0px;
$global_margin: 15px;

.am-container {
  float: left;
  margin-right: 20px;
}

#area-mapper-edit-form-wrapper {
  width: 40%;
  float: right;
  margin: $global_margin 0;
}
div.am-help {
  font-size: 24px;
  margin: $global_margin 0;
}
body.am-ajaxing {
  .am-form {
    opacity: .25;
  }
  // div.icon-ajaxing {
  //   background-image: url(images/icon-ajaxing.gif);
  //   width: 64px;
  //   height: 64px;
  //   text-align: center;
  //   margin: auto;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  // }
}

.am-container {
  position: relative;
}

.am-area {
  cursor: pointer;
  background-color: #38A2DC;
  border: $border_width solid transparent;
  opacity: .6;
  position: relative;
  div.delete {
    display: none;
  }
}
.am-selected {
  background-color: #44AC4B;
  
  .am-resize,
  .am-delete {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    border: 2px solid;
  }
  .am-resize {
    background-color: #8a00fd;
    border-color: #8a00fd;
    left: 0;
  }
  .am-delete {  
    background-color: #ff0000;
    right: 0;
    border-color: #ff0000;
  }
}
.am-resizing{
  display: none;
}
.am-changed {
  background-color: #FDF001;
}

.am-area:hover {
  border-color: #000;
  div.delete {
    visibility: visible;
  }
};

#area-mapper-controls {
  button {
    display: none;
  }
}

// body.am-processed .am-form {
//   display: none;
// }
// body.am-op-edit,
// body.am-selector-resizing,
// body.am-selector-selecting {
//   .am-form {
//     display: block;
//   }
// }